.DS_Store
.env*
.eslintcache
.ftpconfig
.sass-cache/
*.bak
*.env
*.log
*.map
*.old
*.psd
*.scssc
node_modules/

# Playwright
test-report/
test-results/
tests/.auth/

# Builds
build/
dist/
release/
.vercel
